<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET and POST Requests</title>
</head>
<body>

    <div>
        <h2>Информация о пусконаладке</h2>
        <button id="getData">Получить сервисные данные</button>
        <pre id="responseData"></pre>
    </div>

    <div>
        <h2>Установить имя инженера</h2>
        <input type="text" id="nameInput" placeholder="Фамилия И.О.">
        <button id="postData">Отправить</button>
    </div>

    <script src="/static/js/user.js"></script>
</body>
</html>
